.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.calendar {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.month-year-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.month-year-selector select {
    padding: 8px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.month-year-selector select:hover {
    background-color: #f0f0f0;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.calendar-table td {
    cursor: pointer;
}

.calendar-table .day:hover {
    background-color: #e0e0e0;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.task:hover {
    background-color: #e0e0e0;
}

button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ccc;
}